{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <h1>About Us</h1>
    At our marketplace and blog, we are dedicated to providing eco-conscious solutions that enhance your lifestyle while protecting the environemnt. Our carefully curated products are crafted with high-quality, sustainably sourced ingredients that prioritize both your well-being and the environment. Embrace a cleaner, greener way of living without compromising on quality or effectiveness.
    We offer products developed through research focused on women's needs and diverse demographic insights.
    <img src="{{ url_for('static', filename='images/local.jpg') }}" alt="Locally and Organically Sourced Ingredients" style="width:100%;">
{% endblock %}