{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<style>
    .heading {
        text-align: center;
    }
    .heading-title {
        margin-top: 50px;
    }
    .heading-description {
        margin-top: 20px;
    }
</style>

<h1 class="heading heading-title">Welcome to Sustainable Women Products and Life Hacks!</h1>
<h4 class="heading heading-description">Featuring a Eco-friendly marketplace and Women's life hacks blog</h4>
{% endblock %}